---
title: Oh la labs! The Manifesto.
---

<div class="header section">
  <h1>Oh La Labs</h1>
  <p class="subtitle">(the manifesto)</p>
  <h2>A few words about pleasure at work.<br>And we don't (necessarily) mean sex!</h2>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>

<div class="section">
  <h3>
    To the <strong>free citizens</strong> of this century!
  </h3>
  <p class="align-left">
    Decide to be <strong>happy</strong>! Happiness is a state of mind. It precedes any undertaking in life. Including work. If you are free, your are first and foremost responsible for your happiness. Make work decisions that make you happy!
  </p>
  <p class="align-left">
    Don't be captive. Your work is <i>your</i> achievement. It is <i>your</i> contribution to a team, to an organisation, to society. Don't be tamed. Work is a mature and adult endeavor. It is no longer about being taught, it's about delivering and making an impact. Find pleasure in being a professional. Good work shall earn you respect and recognition.
  </p>
  <p class="align-left">
    You are a free and independent person. You are more knowledgeable and a better social animal than anyone has ever been before (whatever your age is). You learn faster from more people. You articulate complex ideas and produce original creations. Your are a critical resource for innovation in the 21st century.
  </p>
  <p class="align-left">
    The Internet changed everything. You can access information, build relationships and grow an audience of a scale that was never possible before. The network bypasses traditional power structures. This fundamental technological novelty puts you on the map of people who matter. You are at the crossroads of a web of relationships. The choice is yours to share, contribute, lead on the projects that matter the most to you. This should make your work fun and make you happy!
  </p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>
<div class="section">
  <h3>
    To the <strong>leaders of innovative enterprises</strong> !
  </h3>
  <p>
    You know that better people and a new social realm will greatly impact the nature of the job market and the corporate world in the decades ahead. Most of the power structures established to organise life and work in the corporation will no longer be needed, especially heavy hierarchies and impersonal command and control management cultures.
  </p>
  <p>
    You are also aware that the massive disengagement of employees at work as well as the questioning of top management's authority are symptoms of social change happening faster than organisational change in the corporation. Yet human capital is a key resource differentiating those of you who compete on innovation with those who compete on cost.
  </p>
  <p>
    It is your decision. Don't define every work task, explain the mission and show the way. Don't review every result, trust competence and learning abilities. Don't dictate rules, bet on good judgement and decision-making ability. Don't evaluate, guide and coach. Don't subordinate, free and grow. Don't control, empower.
  </p>
  <p>
    Learn from the impacts of the Internet on society and embrace technology as a means of bringing your teams closer together, putting them in control, allowing them to take responsibility in full transparency. You shall be rewarded twice by saving on the costs of the old bureaucratic management structure and by getting more your from fully empowered and engaged people.
  </p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>
<div class="section">
  <h3>
    Our commitment
  </h3>
  <p>
    We strive to design the solutions that empower the workforce of tomorrow to work as autonomous groups of networked talents who take direct responsibility for what they do, within or across organisations.
  </p>
  <p>
    We believe that cooperation, competition, passion, responsibility and transparency are key values embraced by the 21st workforce and innovative enterprises. We bake them into our designs.
  </p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>

<!-- <div class="section">
  <h2>Free Workforce</h2>
</div>

<div class="section">
  <h2>Pleasure Projects</h2>
</div>
 -->
<div class="section">
  <p>Embrace change! Get early news about our projects.</p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>

<div class="footer section">
  <ul class="list-inline">
    <li><i class="fa fa-linkedin-square"></i></li>
    <li><i class="fa fa-twitter-square"></i></li>
    <li><i class="fa fa-instagram"></i></li>
  </ul>
</div>