---
title: Oh la labs! The Manifesto.
---

<div class="header section">
  <h1>Oh La Labs</h1>
  <p class="subtitle">(the manifesto)</p>
  <h2>A few words about pleasure at work.<br>And we don't (necessarily) mean sex!</h2>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>

<div class="section">
  <h3 class="align-left">
    Free citizens of this century...
  </h3>
  <p class="align-left">
    Be happy! Happiness is a state of mind. It precedes any undertaking in life. Work doesn't make you happy or unhappy. You do! So make decisions that make you happy now! :)
  </p>
  <p class="align-left">
    Don't be captive. Remember your work is <i>your</i> contribution. No one else owns it. Don't be tamed. Work is an adult endeavor. You are no longer being taught. Take control, deliver, make an impact. Find pleasure in being a professional. Earn respect and recognition.
  </p>
  <p class="align-left">
    Be free and independent. You are more educated and sociable than anyone has ever been before (whatever your age is). Learn faster from more people. Articulate complex ideas and build original creations. Be the innovation resource so prized in this century.
  </p>
  <p class="align-left">
    The Internet changes everything. Access information, build relationships and grow an audience of a scale that was never possible before. The network bypasses traditional power structures. Weave your one web of connections. Make your voice matter. Share, contribute, lead projects you are passionate about. This is fun. You should be happy about such an opportunity!
  </p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>
<div class="section">
  <h3 class="align-left">
    Leaders of innovative enterprises...
  </h3>
  <p class="align-left">
    You know that better people and a new social realm will greatly impact the nature of the job market and the corporate world in the decades ahead. Most of the power structures established to organise life and work in the corporation will no longer be needed, especially heavy hierarchies and impersonal command and control management cultures.
  </p>
  <p class="align-left">
    You are also aware that the massive disengagement of employees at work is a symptom of social change happening faster than organisational change in the corporation. Yet human capital differentiates those of you who innovate from those who compete on cost. So how nurture it?
  </p>
  <p class="align-left">
    Don't define every work task, explain the mission and show the way. Don't review every result, trust competence and learning abilities. Don't dictate rules, bet on good judgement and decision-making ability. Don't evaluate, guide and coach. Don't subordinate, free and grow. Don't control, empower. It is your decision.
  </p>
  <p class="align-left">
    Learn from the impacts of the Internet on society and embrace technology as a means of bringing your people closer together, putting them in control and making them responsible. You will be rewarded twice by saving on the costs of the old bureaucratic structure and by getting more from engaged people.
  </p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>
<div class="section">
  <h3>
    Our commitment
  </h3>
  <p>
    We offer internet-baked organisation solutions for entreprises who want to grow their human capital and innovate faster and better.
  </p>
  <p>
    We strive to design solutions that empower the workforce of the 21st century. Autonomous networks of talents who cooperate because they share a passion. Who naturally take responsibility. Who work within or across traditional organisations. Who are driven by purpose. Who want to have fun.
  </p>
  <p>
    We believe that cooperation, competition, passion, responsibility and transparency are key values embraced by today's workforce and innovative enterprises. They are the DNA of our solutions...
  </p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>

<!-- <div class="section">
  <h2>Free Workforce</h2>
</div>

<div class="section">
  <h2>Pleasure Projects</h2>
</div>
 -->
<div class="section">
  <p>Embrace change! Get early news about our projects.</p>
  <%= image_tag 'seperator.png', width: '150', class: 'seperator' %>
</div>

<div class="footer section">
  <ul class="list-inline">
    <li><i class="fa fa-linkedin-square"></i></li>
    <li><i class="fa fa-twitter-square"></i></li>
    <li><i class="fa fa-instagram"></i></li>
  </ul>
</div>